/* Styling for HTML exercise */


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
}

/* - - - For the sticky footer - - - */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

/* - - - - - - - - - - - - - - - - - - */

body a {
  color: #004b9b;
  text-decoration: none;
}

header h1 {
  font-family: 'Unica One', cursive;
  /*font-family: 'Fascinate Inline', cursive;*/
  /*font-family: 'Lemonada', cursive;*/

  font-size: 4rem;
  margin-bottom: 20px;
  margin-left: 10%;


  color: #004b9b;
}

header nav {
  margin-bottom: 2rem;

  background-color: #004b9b;
  color: #fff;
}

header nav ul {
  list-style: none;
  margin: 0;
  margin-left: 10%;
  padding: 0;
  overflow: hidden;

}

header nav ul li {
  float: left;
}

header nav ul li a {
  display: inline-block;
  padding: 15px 20px 15px 20px;
  color: #fff;

  text-decoration: none;
}

header nav ul li a:hover {
  /*background-color: #1c81ed;*/
  background-color: #014084;
}

header nav a:visited {
  color: #fff;
}

main {
  margin: 0 auto;
  width: 80%;
}

/* - - - FORM STYLING - - - */

#booking-form {
  margin: 0 15px 0 15px;
  font-size: 1rem;
}

#booking-form legend {
  font-size: 1.5rem;
}

#booking-form fieldset {
  padding: 10px 30px 10px 30px;
}

#booking-form input[type=text], input[type=date] {
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
  font-size: 1rem;
}

p#triptype {
  margin-top: 5px;
}

#oneway {
  margin-left: 20px;
}



/* Submit button */
#booking-form input[type=submit] {
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  background: #004b9b;
  border: 0.5px solid #014084;

  margin-bottom: 10px;
  float: right;
}

/* - - - General section wrapper - - - */

.section-wrapper {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.section-wrapper h2 {
  margin-top: 30px;
  padding-bottom: 0;
  margin-bottom: 20px;

  font-size: 2rem;
}

.text-over-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  max-height: 100%;
}

/* - - - Flight offers - - - */

.flight-offers-wrapper h3 {
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

.flight-offers {
  width: 30%;
  display: inline-block;
  margin: 10px;
  /*border: 1px solid #000;*/
  padding: 5px;

  text-align: left;
}

.flight-offers table {
  width: 100%;
}

.flight-offers .offer-destination {
   text-align: left;
 }

.flight-offers .offer-price {
  text-align: right;
}

.flight-offers th {
  color: #004b9b;
  font-weight: 100;
}

.flight-offers tr {
  border-bottom: 0.5px solid lightgrey;
}

.flight-offers table, th, td {
  /*border: 1px dotted #000;*/
  border-collapse: collapse;
  padding: 10px 20px 10px 20px;
}

/* Image above each flight offer category */
.flight-offers .offer-img {
  width: 100%;
  padding-bottom: 10px;
}

/* - - - Simple promotion section - - - */

.simple-promote {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 0.5px solid #004b9b;
  border-bottom: 0.5px solid #004b9b;

  margin: 0 auto;
  width: 60%;

  font-size: 1.5rem;

  margin-bottom: 50px;
}

.simple-promote a {
  text-decoration: none;
}

/* - - - Book your whole trip... - - - */

.trip-service {
  position: relative;
  width: 30%;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

.trip-service img {
  width: 100%;
  opacity: 0.95;
}

.trip-service h3 {
  margin: -0.25rem 0 0 0;

  font-size: 1.75rem;
  color: #fff;
  text-shadow: 0px 0px 15px #000;
}


/* - - - Explore destinations - - - */

div.destination {
  position: relative;
  width: 23%;
  display: inline-block;
  margin: 7px;
}

.destination img {
  width: 100%;
}

.destination a {
  text-decoration: none;
}

.destination h3 {

}

.destination h4 {
  margin: 1.25rem 0 0 0;

  color: #fff;
  font-size: 1.65rem;
  text-shadow: 0px 0px 10px #000;
}

/* - - - Reasons to fly Divided - - - */

.reason {
  position: relative;
  width: 32.5%;
  display: inline-block;
}

.reason img {
  width: 95%;
}


/* - - - See more button - - - */

.see-more {
  display: inline-block;
  background-color: #004b9b;
  font-size: 1rem;
  margin: 20px auto;
  padding: 10px 20px 10px 20px;
}

.see-more a {
  color: #fff;
}

/* - - -  FOOTER STYLING - - - */

footer {
  background-color: #004b9b;
  padding-top: 10px;
}

footer .content-wrapper {
  width: 77%;
  margin: 0 auto;
}

footer .linkset {
  float: left;
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

footer h2 {
  font-size: 1.1rem;
}

footer .linkset ul {
  list-style: none;
  padding-left: 0;
}

footer .linkset ul li {
  list-style: none;
  padding-bottom: 5px;
}

footer .linkset a {
  text-decoration: none;
  color: white;
}

footer .copyright {
  display: inline-block;
  float: left;
  background-color: #014084;
  margin-top: 10px;
  width: 100%;
}

footer .copyright p {
  padding-left: 11.5%;
}
